<h2>Feedback</h2>

<form>
    <label>Write your feedback:</label><br /><br />
    <textarea rows="4" cols="50" placeholder="Enter your feedback here"></textarea>
    <br /><br />
    <button type="submit">Submit Feedback</button>
</form>
